body {
  background-image: linear-gradient(#CF9FD4,#E48C83,#F7C676);
  background-repeat: no-repeat;
  Width:1440px;
  height:900px;
}

.sun {
  width: 500px;
  height: 500px;
  background-color:#E25C51;
  border-radius: 100%;
  margin-left:50px;
}

.c1 {
  width:500px;
  height:225px;
  transform: translate(50%,-130%);
  background-color:#F3DBCD;
  border-radius:260px 260px 0 0;
}

.c2 {
  width:500px;
  height:150px;
  transform: translate(70%,-250%);
  background-color:#F3DBCD;
  border-radius:0 0 250px 250px;
}

.c3 {
  width:200px;
  height:75px;
  transform: translate(500%,-1000%);
  background-color:#F3DBCD;
  border-radius:200px 200px 0 0;
}

.g1 {
  width:0px;
  height:0px;
  transform: translate(220%,-270%);
  background-color: transparent;
  border-left: 200px solid transparent;
  border-right: 200px solid transparent;
  border-top: 200px solid #ECCBA5;
}

.g2 {
  width:20px;
  height:350px;
  background-color: #ECCBA5;
  transform:translate(5347%,-170%)
}

.liquid {
  width:20px;
  height:20px;
  transform: translate(441%,-840%);
  background-color: transparent;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-top: 100px solid #523B80;
}
