.content {
  max-width: 1000px;
  padding: 100px 30px;
  margin: auto;
  font-weight: 300;
}

.content p {
  margin-bottom: 80px;
  position: relative;
}

.long-way {
  font-style:italic;
  transition: all 5s ease-in-out;
}

.long-way:hover {
  cursor: pointer;
  font-size: 2em;
}

.gradient-fill {
  background: -webkit-radial-gradient(#0f10d1, #fc9846);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.8s ease;
}

.gradient-fill:hover {
  background: -webkit-radial-gradient(#fb3f7f, #c7fc46);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}

a:link, a:visited {
  color: (internal value);
  text-decoration: none;
  cursor: pointer;
}

a:link:active, a:visited:active {
  color: (internal value);
}
