h1 {
  font-family: Abril FatFace;
  font-size: 170px;
}

p {
  font-family: Abril FatFace;
  font-size: 70px;
}

.title {
  writing-mode: vertical-rl;
  text-orientation: upright;

  margin-right:none;
  position:relative;
}

.week {
  display: flex;
}

.day {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
}

.week:first-of-type .day:first-of-type {
  margin-left: 42.85714%;
}

.week:last-of-type .day:last-of-type {
  margin-right: 14.285%;
}

/* OTHER STYLES */

html, body {
  height: 100%;
}


.month {
  max-width: 950px;
  margin: 20px auto;

}

.week {
  height: 150px;
color: #2CECBA;
}

.day {
  color: #2CECBA;
  padding: 0px;
  background-color: transparentize(white, 0.30);
  box-shadow:
    -1px -1px #2CECBA,
    inset -1px -1px 0 0 #2CECBA;

    width: 100%;
    height: 100%;
    border-radius: 100%;
}

.fireworks {
  opacity: 0%;
}

.fireworks:hover {
  opacity: 100%;
  transition: 3s;
}

.summersadness {
  opacity: 100%;
}

.summersadness:hover {
  filter:blur(20px);
  transition: 3s;
}

.lethergo {
  opacity: 0%;
}

.lethergo:hover {
  opacity: 100%;
  transition: 3s;
}

.siffil {
  opacity: 0%;
}

.siffil:hover {
  opacity: 100%;
  transition: 3s;
}

.stolendance {
  opacity: 0%;
}

.stolendance:hover {
  opacity: 100%;
  transition: 3s;
}

.everything {
  opacity: 100%;
}

.everything:hover {
  filter:blur(20px);
  transition: 3s;
}

.infil {
  opacity:100%;
}

.infil:hover {
  filter:blur(20px);
  transition: 3s;
}
