html {
  background-color: #DFA58A;
  overflow-x: hidden;
}

.circle {
  background-color: #000000;
  border-radius: 50%;
  border-width: 100%;
  height: 500px;
  width: 500px;
  top: 10px;
  position: absolute;
  z-index: -1;

  animation-name: shape;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes shape {
  from {border-radius: 50%;
  border-width: 100%;
  height: 500px;
  width: 500px;
  }

  to {border-radius:0%;
  border-width: 100%;
  height: 500px;
  width: 500%;
  }
}

h1 {
  font-family: abril fatface;
  font-size: 300px;
  text-align: center;
  margin-top: none;
  padding-top: none;
  color: #235DE8;
  z-index: 1;
}
