.first {
position: left;
float: left;
width: 480px;
height: 480px;
left: 0px;
top: -28px;

font-family: 'Racing Sans one';
font-style: normal;
font-weight: 400;
font-size: 140px;
line-height: 176px;
opacity: 0%;
color: #000000;
}

.first:hover {
  position: left;
  float: left;
  width: 480px;
  height: 480px;
  left: 0px;
  top: -28px;

  font-family:"Racing Sans One";
  font-style: normal;
  font-weight: 400;
  font-size: 140px;
  line-height: 176px;
  opacity: 100%;
  transition-duration:10s;
  color: #000000;
  margin-top:200px;
  margin-left:300px;
}

.second {
  position:left;
  width: 480px;
  height: 480px;
  left: 0px;
  top: -28px;

  font-family:"Racing Sans One";
  font-style: normal;
  font-weight: 400;
  font-size: 140px;
  line-height: 176px;
  opacity: 100%;
  color: #0bd0f8;
}

.p1 {

}

.p2 {

}

.p3:hover {
 filter:blur(10px);
 transition-duration:2s;
}

h1 {
  font-family:"Racing Sans One";
}

h2 {
  font-family:"Alfa Slab One";
  font-size:50px;
}

h3 {
  font-family:"Alfa Slab One";
  font-size:50px;
  margin-top:300px;
}
