.circle {
    background-color: #C2CDFD;
    border-radius: 50%;
    border-width: 100%;
    height: 250px;
    width: 250px;
    float: right;
    top: 10px;
    position: relative;
/*  animation-name: constant;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;*/
    animation: constant 4s linear infinite alternate;
        }


@keyframes constant {
    0%   {top:0px;}
    100% {top:600px;}

}

h1 {
  font-family: abril fatface;
  font-size: 300px;
  text-align: center;
  margin-top: none;
  padding-top: none;
}
