html {
    margin: 0;
    padding: 0;
    background-color: #5A1DDA;
        }

.canvas {
  width: 1200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.circle {
    background-color: white;
    border-radius: 50%;
    border-width: 5px;
    height: 595px;
    width: 595px;
    margin-right: 5px;
    float: left;
    animation-name: blur;
    animation-duration: 5s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    opacity: 50%;
}

.circle2 {
    background-color: white;
    border-radius: 50%;
    border-width: 5px;
    height: 400px;
    width: 400px;
    margin-right: 5px;
    float: left;
    animation-name: blur;
    animation-duration: 5s;
    animation-delay: -5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    opacity: 50%;
}

.circle3 {
  background-color: white;
  border-radius: 50%;
  border-width: 5px;
  height: 300px;
  width: 300px;
  margin-right: 5px;
  float: left;
  animation-name: blur;
  animation-duration: 7s;
  animation-delay: -3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  opacity: 50%;
}

@keyframes blur {
    from {
        -webkit-filter: blur(10px); /* Safari */
        filter: blur(10px);  }

    to {
        -webkit-filter: blur(80px); /* Safari */
        filter: blur(80px);  }
}


@keyframes blur2 {
    from {
        -webkit-filter: blur(10px); /* Safari */
        filter: blur(10px);  }

    to {
        -webkit-filter: blur(80px); /* Safari */
        filter: blur(80px);  }
}

h1 {
  background-color: none;
  font-family: Racing Sans One;
  text-align: center;
  font-size: 300px;
  margin: 0px;
  padding: 0px;
}
