body {
  background-color: #000000;
}

h1 {
  color: #E0FF00;
  font-family:"Bebas Neue"
}

h2 {
  color: #E1E1E1;
  letter-spacing: 3px;
  font-family:"racing sans one";
  font-size:700%;
  margin-top:10px;
  margin-bottom:30px;
}

h3 {
  color: 7820FF;
  font-size:200%;
  font-family:"Bebas Neue"
}

p {
  color: #E1E1E1;
  font-family:"Libre Barcode 39";
  font-size:150%;
}

.center {
  display:block;
  margin-left:auto;
  margin-right:auto;
  width:50%
}

a:link, a:visited {
  color: #E1E1E1;
  text-decoration: none;
  cursor: pointer;
}

a:link:active, a:visited:active {
  color: #D31708;
}

.stitch {
  position: absolute;
  width: 600px;
  height: 15px;
  background-color: #D31708;
  margin-top: 5%;
  margin-left: 30%;
}
