body {
  background-color: #000000;
}

h1 {
  color: #DE4993;
  font-family:"racing sans one";
  font-size:700%;
  margin-top:10px;
  margin-bottom:30px;
  text-align:center;
}

h2 {
  color: #E1E1E1;
  letter-spacing: 3px;
  font-family:"Bebas Neue"
}

h3 {
  color: #00D6A9;
  font-size:200%;
  font-family:"Bebas Neue";
  text-align:center;
}

p {
  color: #E1E1E1;
  font-family:"Libre Barcode 39";
  font-size:150%;
}

.center {
  display:block;
  margin-left:auto;
  margin-right:auto;
  width:50%
}

a:link, a:visited {
  color: (internal value);
  text-decoration: none;
  cursor: pointer;
}

a:link:active, a:visited:active {
  color: (internal value);
}
