body {
  background-color: #000000;
}

h1 {
  color: #E1E1E1;
}

h2 {
  color: #E1E1E1;
  letter-spacing: 3px
}

h3 {
  color: 00D6A9;
  font-size:200%;
}

p {
  color: #E1E1E1;
}

.center {
  display:block;
  margin-left:auto;
  margin-right:auto;
  width:50%
}

a:link, a:visited {
  color: (internal value);
  text-decoration: none;
  cursor: pointer;
}

a:link:active, a:visited:active {
  color: (internal value);
}
