
body {
  background-color: #7ED0F9;
}

h2 {
  color: #DE4993;
  letter-spacing: 3px;
  font-family:"racing sans one";
  font-size:700%;
  margin-top:10px;
  margin-bottom:30px;
  text-align:center;
}

a:link, a:visited {
  color: #DE4993;
  letter-spacing: 3px;
  font-family:"racing sans one";
  font-size:700%;
  margin-top:10px;
  margin-bottom:30px;
  text-align:center;
  text-decoration:none;
}

a:link:active, a:visited:active {
  color:#2D4D4A;
}
