html {
  background-color: #000000;
}

body {
  padding-bottom: 100px;
}

h1 {
  font-family: abril fatface;
  font-size: 170px;
  color: #E1E1E1;
}

.links {
  display:flex;
  flex-direction: column;
  align-items: center;
}
